Transport parameter

The mechanism provides a bandwidth limit to the receiving endpoint, by rewriting the version field of long header packets. It does require some cooperation of the endpoints:

* be willing to receive packets with version set to one of the reserved values,
* be willing to send long header packets after the handshake is complete,
* if the bandwidth parameter describes a "max send rate", be willing to relay the value to the peer. (This would not be needed if the bandwidth parameter indicated "max receive rate".)

I think we need to define a transport parameter to negotiate that.

I don't think that we need a transport parameter for that purpose.  The only thing I might suggest is necessary is the negotiation of a new frame that solicits the sending of a long header packet.  Even that, I'm less sure about.  Endpoints can periodically stuff a small, pointless, long header packet in a datagram that they are sending.

Relaying the received max send rate to a peer is an application matter.

> Endpoints can periodically stuff a small, pointless, long header packet in a datagram that they are sending.

FWIW it is my understanding that such behavior is already allowed explicitly in [Section 14.4.1 of RFC 9000](https://datatracker.ietf.org/doc/html/rfc9000#name-pmtu-probes-containing-sour).

All we are doing here is exercising an existing mechanism. We do not need TP. If we find out endpoints break due to seeing long header packets post-handshake, those endpoints are broken.

We also need a new frame to echo the bandwidth indicated by the network. But that can be negotiated by version negotiation.

I agree with Kazuho on this point.

I am not sure who agrees on what at this point. The discussion on PR#8 strongly hints that we in fact need a transport parameter. Hard to have a version-neutral variant without that.